

.App {
  text-align: center;
}


.row-informacoes{
  border:1px solid black
}

.filtroBusca{
  width: 100%;
}

.botaoLancamento{
  align-items: flex-end;
}

.opcoes{
  justify-content:first baseline
}

.linhaTabela:hover{
  background-color: aquamarine;
}
